{% extends "base.html.twig" %}
{% block title %}Joueurs{% endblock %}

{% block body %}
<div class="container">
<h2>Liste des Joueurs | <small> <a href="{{ path('ajouter_joueur')}}">Ajouter</a>
</small></h2>
{% for msg in app.flashes('notice') %}
<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <span style="font-size:16px"> {{ msg }} </span>
</div>
{% endfor %}
<p>Tapez quelque chose dans le champ de saisie pour rechercher dans le tableau par nom, date naissance , score ou jeux :</p>  
<input class="form-control" id="myInput" type="text" placeholder="Search..">
    <table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Date naissance</th>
        <th>Score</th>
        <th>Jeux</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody id="myTable">
        {% for joueur in joueurs |reverse  %}      
          <tr>
            <td>{{loop.index}}</td>
            <td>{{joueur.nom}}</td>
            <td>{{ joueur.bornAt|date('d/m/Y') }}</td>
            <td>{{joueur.score}}</td>
            <td>{{ joueur.game.titre }}</td>
            <td>
                <a class="btn btn-success"  href={{ path('modifier_joueur', {'id':joueur.id }) }}><span class="glyphicon glyphicon-edit"></span></a>
                <a class="btn btn-danger" href={{ path('delete_joueur', {'id':joueur.id }) }}><span class="glyphicon glyphicon-trash"></span></a>
                <a class="btn btn-info" href="{{ path('show_joueur', {'id': joueur.id}) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>


<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>


{% endblock %}