{% extends 'base.html.twig' %}

{% block title %}{{joueur.nom}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<h2>
Nom : {{joueur.nom}}</h2>
<h2>
Email : {{joueur.email}}</h2>
<h2>
Date naissance : {{ joueur.bornAt|date('d/m/Y') }}</h2>
<h2>Score : {{joueur.score}}</h2>

{% endblock %}
