{% extends 'base.html.twig' %}

{% block title %}{{ joueur.nom }}{% endblock %}

{% block body %}
<div class="container">
    <div class="text-center">
        <div class="panel panel-default" style="max-width: 500px; margin: 0 auto;">
            <div class="panel-heading">
                <h2>{{ joueur.nom }}</h2>
            </div>
            <div class="panel-body">
                <h5 class="card-title">Email: {{ joueur.email }}</h5>
                <h5 class="card-title">Date de naissance: {{ joueur.bornAt|date('d/m/Y') }}</h5>
                <h5 class="card-title">Score: {{ joueur.score }}</h5>
                <h5 class="card-title">Jeu: {{ joueur.game.titre }}</h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}
