{% extends "base.html.twig" %}
{% block title %}Games{% endblock %}

{% block body %}
<div class="container">

<h2>Liste des Games | <small> <a href="{{ path('ajouter_game')}}">Ajouter</a>
</small></h2>
{% for msg in app.flashes('notice') %}
<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <span style="font-size:16px"> {{ msg }} </span>
</div>
{% endfor %}
<p>Tapez quelque chose dans le champ de saisie pour rechercher dans le tableau par nom, date naissance , score ou jeux :</p>  
<input class="form-control" id="myInput" type="text" placeholder="Search..">
 
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Titre</th>
        <th>Type</th>
        <th>Nombre de joueur</th>
        <th>Editeur</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody id="myTable">
    {% for game in games %}
        <tr>
            <td>{{ game.id }}</td>
            

            <td><img src="{{ publicPath ~ game.image }}" style="height:50px"></img></td>
            <td>{{ game.titre }}</td>
            <td>{{ game.type }}</td>
            <td>{{ game.nbrJoueur }}</td>
            <td>{{ game.editeur }}</td>
            <td>
                <a class="btn btn-success"  href={{ path('edit_game', {'id':game.id }) }}>Modifier</a>
                <a class="btn btn-danger" href={{ path('delete_game', {'id':game.id }) }}>Supprimer</a>
                <a class="btn btn-info" href="{{ path('show_game', {'id': game.id}) }}">Detail</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>


<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>

{% endblock %}